* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
div {
    color: blue;
}

body {
    background-image: url("pictures/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding: 
}